body{
    background: rebeccapurple;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
}
.circle{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}